[phases.setup]

nixPkgs = ["python310", "gcc", "gnumake", "stdenv"]

[phases.install]
dependsOn = ["setup"]
cmds = [
    "python -m venv .venv",

    ".venv/bin/pip install --upgrade pip setuptools wheel",

    ".venv/bin/pip install 'numpy<1.24'",

    ".venv/bin/pip install -r requirements.txt"
]

[start]

cmd = ".venv/bin/uvicorn main:app --host 0.0.0.0 --port $PORT"